
.g1{
  
  background-image: url(/public/g-1.png);
  background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
   
  
}
.g3{
  background-image: url(/public/g-3.png);
  background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
   
   

}

.g2{
  background-image: url(/public/g-2.png);
  background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
   
   
   

}
.g4{
  background-image: url(/public/g-4.png);
  background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
   

}





















